*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-control:focus {
	border-color: #cccccc;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
} 

body{
	background: #efefef;
	background-image: url('../../assets/img/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
}

h2{
	padding-top: 2rem;
	text-align: center;
}

.warning {
	max-width: 480px;
	text-align: center;
	margin: 60px auto;
	font-family: 'Arial';
	color: #FFF;
}

.warning:after {
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: pisca .7s infinite;
}

@keyframes pisca {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.form{
	margin-top: 5rem;
}

.select{
	height: 50px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	line-height: .5rem;
}

#btn{
	line-height: .3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}
